# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
*.pot
*.pyc
staticfiles/

# SQLite
*.sqlite3

# Environment
.env
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
